body{
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -50px;
	background-image: linear-gradient( 89.8deg,  rgba(204,156,223,1) 0.3%, rgba(155,219,245,1) 20.4%, rgba(245,183,208,1) 40.2%, rgba(250,186,98,1) 62.9%, rgba(234,238,240,1) 81.9%, rgba(250,245,171,1) 99.2% );
}
div{
	margin: 100px;
	border: 2px solid black;
	border-radius: 20px;
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
}
.one{
	border: 2px solid black;
	width: 450px;
	padding: 20px;
	margin-left: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient( 109.6deg,  rgba(247,253,166,1) 11.2%, rgba(128,255,221,1) 57.8%, rgba(255,128,249,1) 85.9% );
}
h1{
	margin-top: 10px;
}
button{
    width: 70px;
    background-image: linear-gradient( 89.9deg,  rgba(178,253,238,0.96) -8.1%, rgba(207,244,254,1) 26.3%, rgba(207,244,254,0.48) 47.5%, rgba(254,219,243,0.63) 61.5%, rgba(254,219,243,1) 78.7%, rgba(254,207,210,1) 109.2% );background-image: linear-gradient( 89.9deg,  rgba(178,253,238,0.96) -8.1%, rgba(207,244,254,1) 26.3%, rgba(207,244,254,0.48) 47.5%, rgba(254,219,243,0.63) 61.5%, rgba(254,219,243,1) 78.7%, rgba(254,207,210,1) 109.2% );
    border-radius: 20px;
    font-weight: normal;	
}
button:hover {
	box-shadow: 1px 2px 4px black;
	/* background-image: linear-gradient( 78.1deg,  rgba(177,14,236,1) 5.5%, rgba(255,19,15,1) 92.8% ); */
	background-color: #ffceff;
	font-weight: bold;
}



/* 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
    color: white;
    min-height: 90vh;
}

div {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #fd1d1d;
}

p {
	color: green;
	font-size: 18px;
    margin-bottom: 20px;
}

.buy-button {
    padding: 10px 20px;
    background-color:#833ab4;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buy-button:hover {
	font-weight: bold;
    background-color: #fd1d1d;
}
 */